img{
  width: 150px;
  height: 150px;
  background: center ;
}

.songTable{
  padding-right: 310px;
  padding-left: 310px;
  opacity: 0.95;

}

.tabletop{
  padding-top: 30px;
}


.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

